#==============================================================================
# Job Templates
#==============================================================================
- job-template:
    name: '{product}-provisioning-{distribution}-{os}'
    parameters:
        - string:
            name: BASE_URL
            description: Required for dowstream and iso distributions
        - choice:
            name: SELINUX_MODE
            choices:
                - 'enforcing'
                - 'permissive'
        - choice:
            name: PROXY_MODE
            choices:
                - 'authenticated'
                - 'non-authenticated'
                - 'no-proxy'
        - bool:
            name: CHECK_GPG_SIGNATURES
            default: false
            description: |
                Check packages' GPG signatures when installing from ISO. Used
                only in ISO provisioning.
        - choice:
            name: SATELLITE_VERSION
            choices:
                - '6.1'
                - '6.0'
            description: Used only in CDN provisioning.
        - bool:
            name: STAGE_TEST
            default: false
            description: |
                Points to RHSM stage for stage installation test. Used only
                in CDN provisioning.
    scm:
        - git:
            url: https://github.com/SatelliteQE/automation-tools.git
            branches:
                - origin/master
            skip-tag: true
    wrappers:
        - default-wrappers
        - config-file-provider:
            files:
                - file-id: org.jenkinsci.plugins.configfiles.custom.CustomConfig1421863970654
                  variable: FAKE_CERT_CONFIG
                - file-id: org.jenkinsci.plugins.configfiles.custom.CustomConfig1426617852908
                  variable: PROXY_CONFIG
                - file-id: org.jenkinsci.plugins.configfiles.custom.CustomConfig1421176025129
                  variable: PROVISIONING_CONFIG
                - file-id: org.jenkinsci.plugins.configfiles.custom.CustomConfig1426679847040
                  variable: SUBSCRIPTION_CONFIG
                - file-id: org.jenkinsci.plugins.configfiles.custom.CustomConfig1439493457257
                  variable: STAGE_CONFIG
                - file-id: org.jenkinsci.plugins.configfiles.custom.CustomConfig1440792796745
                  variable: INSTALL_CONFIG
        - inject:
            properties-content: |
                DISTRO={os}
                DISTRIBUTION={product}-{distribution}
    builders:
        - shining-panda:
            build-environment: virtualenv
            python-version: System-CPython-2.7
            clear: true
            nature: shell
            command: |
                pip install -r requirements.txt
                source $FAKE_CERT_CONFIG
                source $INSTALL_CONFIG
                source $PROVISIONING_CONFIG
                source $PROXY_CONFIG
                if [ "$STAGE_TEST" = 'false' ]; then
                    source $SUBSCRIPTION_CONFIG
                else
                    source $STAGE_CONFIG
                fi
                if [ "$DISTRIBUTION" = 'satellite6-zstream' ]; then
                    DISTRIBUTION='satellite6-downstream'
                fi

                fab -H "root@$PROVISIONING_HOST" -i ~/.ssh/id_hudson_dsa "product_install:$DISTRIBUTION,create_vm=true,sat_cdn_version=$SATELLITE_VERSION,test_in_stage=$STAGE_TEST"
                # Write a properties file to allow passing variables to other build steps
                echo "SERVER_HOSTNAME=$TARGET_IMAGE.$VM_DOMAIN" > build_env.properties
        - inject:
            properties-file: build_env.properties
        - trigger-builds:
            - project: '{product}-smoke-{distribution}-{os}'
              predefined-parameters: |
                SERVER_HOSTNAME=$SERVER_HOSTNAME

- job-template:
    name: '{product}-smoke-{distribution}-{os}'
    parameters:
        - satellite6-automation-parameters
    scm:
        - git:
            url: https://github.com/SatelliteQE/robottelo.git
            branches:
                - '{scm-branch}'
            skip-tag: true
    wrappers:
        - satellite6-automation-wrappers
        - inject:
            properties-content: |
                DISTRIBUTION={distribution}
                ENDPOINT=smoke
                PRODUCT={product}
    builders:
        - satellite6-automation-builders
        - trigger-builds:
            - project: '{product}-automation-{distribution}-{os}-api'
              current-parameters: true
    publishers:
        - satellite6-automation-publishers

- job-template:
    name: '{product}-automation-{distribution}-{os}-api'
    parameters:
        - satellite6-automation-parameters
    scm:
        - git:
            url: https://github.com/SatelliteQE/robottelo.git
            branches:
                - '{scm-branch}'
            skip-tag: true
    wrappers:
        - satellite6-automation-wrappers
        - inject:
            properties-content: |
                DISTRIBUTION={distribution}
                ENDPOINT=api
                PRODUCT={product}
    builders:
        - satellite6-automation-builders
        - satellite6-automation-profiling-builder
        - trigger-builds:
            - project: '{product}-automation-{distribution}-{os}-cli'
              current-parameters: true
    publishers:
        - satellite6-automation-publishers

- job-template:
    name: '{product}-automation-{distribution}-{os}-cli'
    parameters:
        - satellite6-automation-parameters
    scm:
        - git:
            url: https://github.com/SatelliteQE/robottelo.git
            branches:
                - '{scm-branch}'
            skip-tag: true
    wrappers:
        - satellite6-automation-wrappers
        - inject:
            properties-content: |
                DISTRIBUTION={distribution}
                ENDPOINT=cli
                PRODUCT={product}
    builders:
        - satellite6-automation-builders
        - satellite6-automation-profiling-builder
        - trigger-builds:
            - project: '{product}-automation-{distribution}-{os}-ui'
              current-parameters: true
    publishers:
        - satellite6-automation-publishers

- job-template:
    name: '{product}-automation-{distribution}-{os}-ui'
    parameters:
        - satellite6-automation-parameters
    scm:
        - git:
            url: https://github.com/SatelliteQE/robottelo.git
            branches:
                - '{scm-branch}'
            skip-tag: true
    wrappers:
        - satellite6-automation-wrappers
        - inject:
            properties-content: |
                DISTRIBUTION={distribution}
                ENDPOINT=ui
                PRODUCT={product}
    builders:
        - satellite6-automation-builders
        - satellite6-automation-profiling-builder
        - conditional-step:
            condition-kind: regex-match
            regex: (cdn|downstream)
            label: ${{ENV,var="DISTRIBUTION"}}
            steps:
                - trigger-builds:
                    - project: '{product}-automation-{distribution}-{os}-rhai'
                      current-parameters: true
    publishers:
        - satellite6-automation-publishers

- job-template:
    name: '{product}-automation-{distribution}-{os}-rhai'
    parameters:
        - satellite6-automation-parameters
    scm:
        - git:
            url: https://github.com/SatelliteQE/robottelo.git
            branches:
                - '{scm-branch}'
            skip-tag: true
    wrappers:
        - satellite6-automation-wrappers
        - inject:
            properties-content: |
                DISTRIBUTION={distribution}
                ENDPOINT=rhai
                PRODUCT={product}
    builders:
        - satellite6-automation-builders
        - trigger-builds:
            - project: '{product}-automation-{distribution}-{os}-longrun'
              current-parameters: true
    publishers:
        - satellite6-automation-publishers

- job-template:
    name: '{product}-automation-{distribution}-{os}-longrun'
    parameters:
        - satellite6-automation-parameters
    scm:
        - git:
            url: https://github.com/SatelliteQE/robottelo.git
            branches:
                - '{scm-branch}'
            skip-tag: true
    wrappers:
        - satellite6-automation-wrappers
        - inject:
            properties-content: |
                DISTRIBUTION={distribution}
                ENDPOINT=longrun
                PRODUCT={product}
    builders:
        - satellite6-automation-builders
        - satellite6-automation-profiling-builder
    publishers:
        - satellite6-automation-publishers

#==============================================================================
# Project
#==============================================================================
- project:
    name: satellite6-automation
    node: sesame
    scm-branch: origin/master
    distribution:
        - cdn
        - downstream
        - zstream:
            scm-branch: origin/satellite-6.0.z.1
        - iso
        - upstream
    os:
        - rhel66
        - rhel67
        - rhel70
        - rhel71
    product:
        - sam
        - satellite6
    jobs:
        - '{product}-provisioning-{distribution}-{os}'
        - '{product}-smoke-{distribution}-{os}'
        - '{product}-automation-{distribution}-{os}-api'
        - '{product}-automation-{distribution}-{os}-cli'
        - '{product}-automation-{distribution}-{os}-ui'
        - '{product}-automation-{distribution}-{os}-rhai'
        - '{product}-automation-{distribution}-{os}-longrun'

#==============================================================================
# Jobs
#==============================================================================
- job:
    name: satellite6-trigger
    description: Triggers automation for Satellite 6
    parameters:
        - string:
            name: RHEL6_OS_URL
            description: |
                Leave it blank to install the latest stable.
        - string:
            name: RHEL7_OS_URL
            description: |
                Leave it blank to install the latest stable.
        - string:
            name: RHEL6_ISO_URL
            description: |
                Leave it blank to install the latest stable.
        - string:
            name: RHEL7_ISO_URL
            description: |
                Leave it blank to install the latest stable.
        - choice:
            name: SELINUX_MODE
            choices:
                - 'enforcing'
                - 'permissive'
        - bool:
            name: CHECK_GPG_SIGNATURES
            default: false
            description: |
                Check packages' GPG signatures when installing from ISO.
    wrappers:
        - config-file-provider:
            files:
                - file-id: org.jenkinsci.plugins.configfiles.custom.CustomConfig1430942714372
                  variable: SATELLITE6_REPOS_URLS
    builders:
        - shell: |
            source ${SATELLITE6_REPOS_URLS}

            echo "RHEL6_OS_URL=${RHEL6_OS_URL:-${SATELLITE6_RHEL6_OS}}" > properties.txt
            echo "RHEL7_OS_URL=${RHEL7_OS_URL:-${SATELLITE6_RHEL7_OS}}" >> properties.txt
            echo "RHEL6_ISO_URL=${RHEL6_ISO_URL:-${SATELLITE6_RHEL6_ISO}}" >> properties.txt
            echo "RHEL7_ISO_URL=${RHEL7_ISO_URL:-${SATELLITE6_RHEL7_ISO}}" >> properties.txt
        - inject:
            properties-file: properties.txt
        - trigger-builds:
            - project: satellite6-provisioning-downstream-rhel67
              predefined-parameters: |
                BASE_URL=${RHEL6_OS_URL}
                SELINUX_MODE=${SELINUX_MODE}
        - trigger-builds:
            - project: satellite6-provisioning-downstream-rhel71
              predefined-parameters: |
                BASE_URL=${RHEL7_OS_URL}
                SELINUX_MODE=${SELINUX_MODE}
        - trigger-builds:
            - project: satellite6-provisioning-iso-rhel67
              predefined-parameters: |
                BASE_URL=${RHEL6_ISO_URL}
                SELINUX_MODE=${SELINUX_MODE}
                CHECK_GPG_SIGNATURES=${CHECK_GPG_SIGNATURES}
        - trigger-builds:
            - project: satellite6-provisioning-iso-rhel71
              predefined-parameters: |
                BASE_URL=${RHEL7_ISO_URL}
                SELINUX_MODE=${SELINUX_MODE}
                CHECK_GPG_SIGNATURES=${CHECK_GPG_SIGNATURES}

- job:
    name: satellite6-zstream-trigger
    description: Triggers automation for Satellite 6 zstream
    parameters:
        - string:
            name: RHEL6_BASE_URL
            description: |
                End with the arch. Example: http://example.com/path/to/Satellite/Satellite-6.1.0-RHEL-6-20150311.1/compose/Satellite/x86_64
        - string:
            name: RHEL7_BASE_URL
            description: |
                End with the arch. Example: http://example.com/path/to/Satellite/Satellite-6.1.0-RHEL-7-20150311.1/compose/Satellite/x86_64
    builders:
        - trigger-builds:
            - project: satellite6-provisioning-zstream-rhel66
              predefined-parameters:
                BASE_URL=${RHEL6_BASE_URL}/os
        - trigger-builds:
            - project: satellite6-provisioning-zstream-rhel70
              predefined-parameters:
                BASE_URL=${RHEL7_BASE_URL}/os

- job:
    name: satellite6-upstream-trigger
    description: Triggers automation for Satellite 6 upstream
    triggers:
        - timed: 'H 19 * * *'
    builders:
        - trigger-builds:
            - project: |
                satellite6-provisioning-upstream-rhel67,
                satellite6-provisioning-upstream-rhel71,
                sam-provisioning-upstream-rhel67,
                sam-provisioning-upstream-rhel71
