#==============================================================================
# Job Templates
#==============================================================================
- job-template:
    name: 'provisioning-{satellite_version}-{os}'
    node: sesame
    parameters:
        - choice:
            name: SATELLITE_DISTRIBUTION
            choices:
                - 'INTERNAL AK'
                - 'INTERNAL'
                - 'INTERNAL REPOFILE'
                - 'GA'
                - 'BETA'
                - 'UPSTREAM'
                - 'ISO'
            description: Make sure to select the right Satellite release you want to install, otherwise the job can fail.
        - string:
            name: BASE_URL
            description: Required when Satellite distribution is INTERNAL
        - string:
            name: CAPSULE_URL
            description: Required when Satellite distribution is INTERNAL and we require latest External Capsule setups. |
                Not required in CDN distribution, this content should be enabled/synced from cdn.redhat.com using manifests. |
                Leaving this blank picks the latest CAPSULE repo. Override if required.
        - string:
            name: TOOLS_URL
            description: Required when Satellite distribution is INTERNAL and we require latest SatTools Client packages. |
                Not required in CDN distribution, this content should be enabled/synced from cdn.redhat.com using manifests. |
                Leaving this blank picks the latest SATTOOLS repo. Override if required.
        - satellite6-provisioning-parameters
    scm:
        - git:
            url: https://github.com/SatelliteQE/automation-tools.git
            branches:
                - origin/master
            skip-tag: true
    wrappers:
        - default-wrappers
        - config-file-provider:
            files:
                - file-id: bc5f0cbc-616f-46de-bdfe-2e024e84fcbf
                  variable: CONFIG_FILES
        - inject:
            properties-content: |
                DISTRO={os}
                SATELLITE_VERSION={satellite_version}
        - build-name:
            name: '#${{BUILD_NUMBER}} ${{ENV,var="BUILD_LABEL"}}'
    builders:
        - shining-panda:
            build-environment: virtualenv
            python-version: System-CPython-2.7
            clear: true
            nature: shell
            command:
                !include-raw-escape:
                    - 'pip-install-pycurl.sh'
                    - 'satellite6-provisioning.sh'
                    - 'satellite6-foreman-debug.sh'
                    - 'satellite6-graceful-shutdown.sh'
        - inject:
            properties-file: build_env.properties
        - trigger-builds:
            - project: 'automation-{satellite_version}-tier1-{os}'
              predefined-parameters: |
                SERVER_HOSTNAME=${{SERVER_HOSTNAME}}
                TOOLS_REPO=${{TOOLS_REPO}}
                SUBNET=${{SUBNET}}
                NETMASK=${{NETMASK}}
                GATEWAY=${{GATEWAY}}
                BRIDGE=${{BRIDGE}}
                BUILD_LABEL=${{BUILD_LABEL}}
                DISCOVERY_ISO=${{DISCOVERY_ISO}}
                ROBOTTELO_WORKERS=${{ROBOTTELO_WORKERS}}
                POLARION_RELEASE=${{POLARION_RELEASE}}
    publishers:
        - satellite6-automation-mails
        - satellite6-automation-archiver

- job-template:
    name: 'automation-{satellite_version}-tier1-{os}'
    node: sesame
    logrotate:
        numToKeep: 16
    properties:
        - build-discarder:
            num-to-keep: 16
    parameters:
        - satellite6-automation-parameters
    scm:
        - git:
            url: https://github.com/SatelliteQE/robottelo.git
            branches:
                - '{scm-branch}'
            skip-tag: true
    wrappers:
        - satellite6-automation-wrappers
        - inject:
            properties-content: |
                SATELLITE_VERSION={satellite_version}
                ENDPOINT=tier1
                DISTRO={os}
    builders:
        - satellite6-automation-builders
        - trigger-builds:
          - project: 'automation-{satellite_version}-tier2-{os}'
            current-parameters: true
        - conditional-step:
            condition-kind: regex-match
            regex: (6\.[123])
            label: ${{ENV,var="SATELLITE_VERSION"}}
            steps:
                - trigger-builds:
                  - project: 'satellite6-automation-performance-report'
                    predefined-parameters: |
                      OS={os}
                      BUILD_LABEL=${{BUILD_LABEL}}
                    parameter-factories:
                      - factory: binaryfile
                        parameter-name: JUNIT
                        file-pattern: tier1-parallel-results.xml
                        no-files-found-action: FAIL
    publishers:
        - satellite6-automation-publishers
        - satellite6-automation-archiver

- job-template:
    name: 'automation-{satellite_version}-tier2-{os}'
    node: sesame
    logrotate:
        numToKeep: 16
    properties:
        - build-discarder:
            num-to-keep: 16
    parameters:
        - satellite6-automation-parameters
    scm:
        - git:
            url: https://github.com/SatelliteQE/robottelo.git
            branches:
                - '{scm-branch}'
            skip-tag: true
    wrappers:
        - satellite6-automation-wrappers
        - inject:
            properties-content: |
                SATELLITE_VERSION={satellite_version}
                ENDPOINT=tier2
                DISTRO={os}
    builders:
        - satellite6-automation-builders
        - trigger-builds:
            - project: 'automation-{satellite_version}-tier3-{os}'
              current-parameters: true
    publishers:
        - satellite6-automation-publishers
        - satellite6-automation-archiver

- job-template:
    name: 'automation-{satellite_version}-tier3-{os}'
    node: sesame
    logrotate:
        numToKeep: 16
    properties:
        - build-discarder:
            num-to-keep: 16
    parameters:
        - satellite6-automation-parameters
    scm:
        - git:
            url: https://github.com/SatelliteQE/robottelo.git
            branches:
                - '{scm-branch}'
            skip-tag: true
    wrappers:
        - satellite6-automation-wrappers
        - inject:
            properties-content: |
                SATELLITE_VERSION={satellite_version}
                ENDPOINT=tier3
                DISTRO={os}
    builders:
        - satellite6-automation-builders
        - trigger-builds:
            - project: 'automation-{satellite_version}-tier4-{os}'
              current-parameters: true

    publishers:
        - satellite6-automation-publishers
        - satellite6-automation-archiver

- job-template:
    name: 'automation-{satellite_version}-rhai-{os}'
    node: sesame
    logrotate:
        numToKeep: 16
    properties:
        - build-discarder:
            num-to-keep: 16
    parameters:
        - satellite6-automation-parameters
    scm:
        - git:
            url: https://github.com/SatelliteQE/robottelo.git
            branches:
                - '{scm-branch}'
            skip-tag: true
    wrappers:
        - satellite6-automation-wrappers
        - inject:
            properties-content: |
                SATELLITE_VERSION={satellite_version}
                ENDPOINT=rhai
                DISTRO={os}
    builders:
        - satellite6-automation-builders
    publishers:
        - satellite6-automation-publishers
        - satellite6-automation-archiver
        - email-ext:
            recipients: $PROJECT_DEFAULT_RECIPIENTS
            reply-to: $PROJECT_DEFAULT_REPLYTO
            content-type: text
            subject: "$PROJECT_NAME - Build number: $BUILD_NUMBER - $BUILD_STATUS!"
            body: |
                "$PROJECT_NAME - Build number: $BUILD_NUMBER - $BUILD_STATUS:

                Check console output at $BUILD_URL to view the results."
            unstable: true
            failure: true
            success: true

- job-template:
    name: 'automation-{satellite_version}-tier4-{os}'
    node: sesame
    logrotate:
        numToKeep: 16
    properties:
        - build-discarder:
            num-to-keep: 16
    parameters:
        - satellite6-automation-parameters
    scm:
        - git:
            url: https://github.com/SatelliteQE/robottelo.git
            branches:
                - '{scm-branch}'
            skip-tag: true
    wrappers:
        - satellite6-automation-wrappers
        - inject:
            properties-content: |
                SATELLITE_VERSION={satellite_version}
                ENDPOINT=tier4
                DISTRO={os}
    builders:
        - satellite6-automation-builders
        - conditional-step:
            condition-kind: regex-match
            regex: (6\.[123])
            label: ${{ENV,var="SATELLITE_VERSION"}}
            steps:
                - trigger-builds:
                    - project: 'automation-{satellite_version}-rhai-{os}'
                      current-parameters: true
        - trigger-builds:
            - project: 'polarion-test-run-{satellite_version}-{os}'
              predefined-parameters: |
                  TEST_RUN_ID=$BUILD_LABEL {os}
                  POLARION_RELEASE=$POLARION_RELEASE
    publishers:
        - satellite6-automation-publishers
        - satellite6-automation-archiver

- job-template:
    name: 'report-automation-results-{satellite_version}-{os}'
    triggers:
        - reverse:
            jobs: 'automation-{satellite_version}-tier4-{os}'
            result: unstable
    scm:
        - git:
            url: https://github.com/SatelliteQE/robottelo-ci.git
            branches:
                - origin/master
            skip-tag: true
    builders:
        - shell: rm -f *.xml
        - copyartifact:
            project: 'automation-{satellite_version}-tier1-{os}'
            filter: '*-results.xml'
            which-build: last-successful
        - copyartifact:
            project: 'automation-{satellite_version}-tier2-{os}'
            filter: '*-results.xml'
            which-build: last-successful
        - copyartifact:
            project: 'automation-{satellite_version}-tier3-{os}'
            filter: '*-results.xml'
            which-build: last-successful
        - copyartifact:
            project: 'automation-{satellite_version}-tier4-{os}'
            filter: '*-results.xml'
            which-build: last-successful
        - shining-panda:
            build-environment: virtualenv
            python-version: System-CPython-2.7
            clear: true
            nature: shell
            command:
                !include-raw-escape: 'satellite6-automation-report.sh'
    publishers:
        - email-ext:
            recipients: ${{QE_EMAIL_LIST}}
            success: true
            failure: false
            subject: 'Satellite {satellite_version} Automation Report for {os}'
            body: |
                The build ${{BUILD_URL}} has been completed.

                ${{FILE, path="report.txt"}}
            attachments: report.html

- job-template:
    name: 'automation-upgrade-{os}'
    node: sesame
    parameters:
        - choice:
            name: FROM_VERSION
            choices:
                - '6.1'
                - '6.2'
            description: |
                <p>Choose the currently installed Satellite/Capsule version to upgrade to latest available.</p>
        - choice:
            name: TO_VERSION
            choices:
                - '6.2'
                - '6.3'
    scm:
        - git:
            url: https://github.com/SatelliteQE/automation-tools.git
            branches:
                - origin/master
            skip-tag: true
    wrappers:
        - default-wrappers
        - config-file-provider:
            files:
                - file-id: bc5f0cbc-616f-46de-bdfe-2e024e84fcbf
                  variable: CONFIG_FILES
        - build-name:
            name: '#${{BUILD_NUMBER}} Upgrade_{os}_from_${{FROM_VERSION}}_to_${{TO_VERSION}}'
    builders:
        - shining-panda:
            build-environment: virtualenv
            python-version: System-CPython-2.7
            clear: true
            nature: shell
            command:
                !include-raw:
                    - 'pip-install-pycurl.sh'
                    - 'satellite6-upgrade-trigger.sh'
    publishers:
        - archive:
            artifacts: '*.tar.xz'

- job-template:
    name: trigger-satellite{satellite_version}
    description: Triggers automation for Satellite 6
    node: sesame
    parameters:
        - choice:
            name: SATELLITE_DISTRIBUTION
            choices:
                 - 'INTERNAL AK'
                 - 'INTERNAL'
                 - 'INTERNAL REPOFILE'
                 - 'GA'
                 - 'BETA'
            description: Make sure to select the right Satellite release you want to install, otherwise the job can fail.
        - string:
            name: RHEL6_SATELLITE_URL
            description: |
                Leave it blank to install the latest stable.
        - string:
            name: RHEL6_CAPSULE_URL
            description: |
                Leave it blank to install the latest stable. Example: http://example.com/path/to/Satellite/Satellite-6.1.0-RHEL-6-20150311.1/compose/Capsule/x86_64/os
        - string:
            name: RHEL6_TOOLS_URL
            description: |
                Leave it blank to install the latest stable. Example: http://example.com/path/to/Satellite/Satellite-6.1.0-RHEL-6-20150311.1/compose/sattools/x86_64/os
        - string:
            name: RHEL7_SATELLITE_URL
            description: |
                Leave it blank to install the latest stable.
        - string:
            name: RHEL7_CAPSULE_URL
            description: |
                Leave it blank to install the latest stable. Example: http://example.com/path/to/Satellite/Satellite-6.1.0-RHEL-7-20150311.1/compose/Capsule/x86_64/os
        - string:
            name: RHEL7_TOOLS_URL
            description: |
                Leave it blank to install the latest stable. Example: http://example.com/path/to/Satellite/Satellite-6.1.0-RHEL-7-20150311.1/compose/sattools/x86_64/os
        - satellite6-provisioning-parameters
    wrappers:
        - config-file-provider:
            files:
                - file-id: bc5f0cbc-616f-46de-bdfe-2e024e84fcbf
                  variable: CONFIG_FILES
        - inject:
            properties-content: |
                SATELLITE_VERSION={satellite_version}
        - build-name:
            name: '#${{BUILD_NUMBER}} ${{ENV,var="BUILD_LABEL"}}'
    builders:
        - shell: |
            source ${{CONFIG_FILES}}
            source config/sat6_repos_urls.conf
            echo "RHEL6_SATELLITE_URL=${{RHEL6_SATELLITE_URL:-${{SATELLITE6_RHEL6}}}}" > properties.txt
            echo "RHEL6_CAPSULE_URL=${{RHEL6_CAPSULE_URL:-${{CAPSULE_RHEL6}}}}" >> properties.txt
            echo "RHEL6_TOOLS_URL=${{RHEL6_TOOLS_URL:-${{TOOLS_RHEL6}}}}" >> properties.txt
            echo "RHEL7_SATELLITE_URL=${{RHEL7_SATELLITE_URL:-${{SATELLITE6_RHEL7}}}}" >> properties.txt
            echo "RHEL7_CAPSULE_URL=${{RHEL7_CAPSULE_URL:-${{CAPSULE_RHEL7}}}}" >> properties.txt
            echo "RHEL7_TOOLS_URL=${{RHEL7_TOOLS_URL:-${{TOOLS_RHEL7}}}}" >> properties.txt
        - inject:
            properties-file: properties.txt
        - trigger-builds:
            - project: provisioning-{satellite_version}-rhel6
              predefined-parameters: |
                BASE_URL=${{RHEL6_SATELLITE_URL}}
                CAPSULE_URL=${{RHEL6_CAPSULE_URL}}
                TOOLS_URL=${{RHEL6_TOOLS_URL}}
                SELINUX_MODE=${{SELINUX_MODE}}
                SATELLITE_DISTRIBUTION=${{SATELLITE_DISTRIBUTION}}
                ROBOTTELO_WORKERS=${{ROBOTTELO_WORKERS}}
                PROXY_MODE=${{PROXY_MODE}}
                BUILD_LABEL=${{BUILD_LABEL}}
        - trigger-builds:
            - project: provisioning-{satellite_version}-rhel7
              predefined-parameters: |
                BASE_URL=${{RHEL7_SATELLITE_URL}}
                CAPSULE_URL=${{RHEL7_CAPSULE_URL}}
                TOOLS_URL=${{RHEL7_TOOLS_URL}}
                SELINUX_MODE=${{SELINUX_MODE}}
                SATELLITE_DISTRIBUTION=${{SATELLITE_DISTRIBUTION}}
                ROBOTTELO_WORKERS=${{ROBOTTELO_WORKERS}}
                PROXY_MODE=${{PROXY_MODE}}
                BUILD_LABEL=${{BUILD_LABEL}}
        - trigger-builds:
            - project: polarion-test-case
        - trigger-builds:
            - project: automation-upgrade-rhel6
              predifined-parameters: |
                TO_VERSION=${{SATELLITE_VERSION}}
                FROM_VERSION=$(echo $TO_VERSION - 0.1|bc)
        - trigger-builds:
            - project: automation-upgrade-rhel7
              predifined-parameters: |
                TO_VERSION=${{SATELLITE_VERSION}}
                FROM_VERSION=$(echo $TO_VERSION - 0.1|bc)

#==============================================================================
# Project
#==============================================================================
- project:
    name: satellite6-automation
    scm-branch: origin/master
    satellite_version:
        - '6.1':
            scm-branch: origin/6.1.z
        - '6.2':
            scm-branch: origin/6.2.z
        - '6.3'
        - 'nightly'
    os:
        - 'rhel6'
        - 'rhel7'
    jobs:
        - 'provisioning-{satellite_version}-{os}'
        - 'automation-{satellite_version}-tier1-{os}'
        - 'automation-{satellite_version}-tier2-{os}'
        - 'automation-{satellite_version}-tier3-{os}'
        - 'automation-{satellite_version}-tier4-{os}'
        - 'automation-{satellite_version}-rhai-{os}'
        - 'polarion-test-run-{satellite_version}-{os}'
        - 'report-automation-results-{satellite_version}-{os}'
        - 'automation-upgrade-{os}'


# Let's have a separate project for triggers.
- project:
    name: satellite6-triggers
    satellite_version:
        - '6.1'
        - '6.2'
        - '6.3'
    jobs:
        - 'trigger-satellite{satellite_version}'
#==============================================================================
# Jobs
#==============================================================================
- job:
    name: trigger-nightly
    description: Triggers automation for Satellite 6 upstream using katello-deploy.
    node: sesame
    parameters:
        - string:
            name: ROBOTTELO_WORKERS
            default: '8'
            description: Number of workers to use while running robottelo test suite
        - string:
            name: SATELLITE_DISTRIBUTION
            default: 'UPSTREAM'
    triggers:
        - timed: 'H 19 * * *'
    builders:
        - shell:
            echo "BUILD_LABEL=Upstream Nightly $(date +%Y-%m-%d)" > properties.txt
        - inject:
            properties-file: properties.txt
        - trigger-builds:
            - project: |
                provisioning-nightly-rhel7
              predefined-parameters: |
                BUILD_LABEL=${BUILD_LABEL}
                ROBOTTELO_WORKERS=${ROBOTTELO_WORKERS}
                SATELLITE_DISTRIBUTION=${SATELLITE_DISTRIBUTION}
