#==============================================================================
# Job Templates
#==============================================================================
- job-template:
    name: 'satellite6-provisioning-{distribution}-{os}'
    parameters:
        - string:
            name: BASE_URL
            description: Required for downstream and iso distributions
        - string:
            name: CAPSULE_URL
            description: Required for downstream, iso, distributions for latest External Capsule setups. |
                Not required in CDN distribution, this content should be enabled/synced from cdn.redhat.com using manifests. |
                Leaving this blank picks the latest CAPSULE repo. Override if required.
        - string:
            name: TOOLS_URL
            description: Required for downstream, iso, distributions for latest sattools client packages. |
                Not required in CDN distribution, this content should be enabled/synced from cdn.redhat.com using manifests. |
                Leaving this blank picks the latest SATTOOLS repo. Override if required.
        - choice:
            name: SELINUX_MODE
            choices:
                - 'enforcing'
                - 'permissive'
        - choice:
            name: PROXY_MODE
            choices:
                - 'authenticated'
                - 'non-authenticated'
                - 'no-proxy'
        - bool:
            name: CHECK_GPG_SIGNATURES
            default: false
            description: |
                Check packages' GPG signatures when installing from ISO. Used
                only in ISO provisioning.
        - choice:
            name: SATELLITE_VERSION
            choices:
                - '6.1'
                - '6.0'
            description: Used only in CDN provisioning.
        - bool:
            name: STAGE_TEST
            default: false
            description: |
                Points to RHSM stage for stage installation test. Used only
                in CDN provisioning.
        - string:
            name: BUILD_LABEL
    scm:
        - git:
            url: https://github.com/SatelliteQE/automation-tools.git
            branches:
                - origin/master
            skip-tag: true
    wrappers:
        - default-wrappers
        - config-file-provider:
            files:
                - file-id: org.jenkinsci.plugins.configfiles.custom.CustomConfig1421863970654
                  variable: FAKE_CERT_CONFIG
                - file-id: org.jenkinsci.plugins.configfiles.custom.CustomConfig1426617852908
                  variable: PROXY_CONFIG
                - file-id: org.jenkinsci.plugins.configfiles.custom.CustomConfig1421176025129
                  variable: PROVISIONING_CONFIG
                - file-id: org.jenkinsci.plugins.configfiles.custom.CustomConfig1426679847040
                  variable: SUBSCRIPTION_CONFIG
                - file-id: org.jenkinsci.plugins.configfiles.custom.CustomConfig1439493457257
                  variable: STAGE_CONFIG
                - file-id: org.jenkinsci.plugins.configfiles.custom.CustomConfig1440792796745
                  variable: INSTALL_CONFIG
        - inject:
            properties-content: |
                DISTRO={os}
                DISTRIBUTION=satellite6-{distribution}
        - build-name:
            name: '#${{BUILD_NUMBER}} ${{ENV,var="BUILD_LABEL"}}'
    builders:
        - shining-panda:
            build-environment: virtualenv
            python-version: System-CPython-2.7
            clear: true
            nature: shell
            command: |
                pip install -r requirements.txt
                source $FAKE_CERT_CONFIG
                source $INSTALL_CONFIG
                source $PROVISIONING_CONFIG
                source $PROXY_CONFIG
                if [ "$STAGE_TEST" = 'false' ]; then
                    source $SUBSCRIPTION_CONFIG
                else
                    source $STAGE_CONFIG
                fi
                if [ "$DISTRIBUTION" = 'satellite6-zstream' ]; then
                    DISTRIBUTION='satellite6-downstream'
                fi

                fab -H "root@$PROVISIONING_HOST" -i ~/.ssh/id_hudson_dsa "product_install:$DISTRIBUTION,create_vm=true,sat_cdn_version=$SATELLITE_VERSION,test_in_stage=$STAGE_TEST"
                # Write a properties file to allow passing variables to other build steps
                echo "SERVER_HOSTNAME=$TARGET_IMAGE.$VM_DOMAIN" > build_env.properties
                echo "TOOLS_REPO=$TOOLS_URL" >> build_env.properties
                echo "SUBNET=$SUBNET" >> build_env.properties
                echo "NETMASK=$NETMASK" >> build_env.properties
                echo "GATEWAY=$GATEWAY" >> build_env.properties
                echo "BRIDGE=$BRIDGE" >> build_env.properties
        - inject:
            properties-file: build_env.properties
        - trigger-builds:
            - project: 'satellite6-smoke-{distribution}-{os}'
              predefined-parameters: |
                SERVER_HOSTNAME=$SERVER_HOSTNAME
                TOOLS_REPO=$TOOLS_REPO
                SUBNET=$SUBNET
                NETMASK=$NETMASK
                GATEWAY=$GATEWAY
                BRIDGE=$BRIDGE
                BUILD_LABEL=$BUILD_LABEL

- job-template:
    name: 'satellite6-smoke-{distribution}-{os}'
    parameters:
        - satellite6-automation-parameters
    scm:
        - git:
            url: https://github.com/SatelliteQE/robottelo.git
            branches:
                - '{scm-branch}'
            skip-tag: true
    wrappers:
        - satellite6-automation-wrappers
        - inject:
            properties-content: |
                DISTRIBUTION={distribution}
                ENDPOINT=smoke
    builders:
        - satellite6-automation-builders
        - trigger-builds:
            - project: 'satellite6-automation-{distribution}-{os}-api'
              current-parameters: true
    publishers:
        - satellite6-automation-publishers

- job-template:
    name: 'satellite6-automation-{distribution}-{os}-api'
    parameters:
        - satellite6-automation-parameters
    scm:
        - git:
            url: https://github.com/SatelliteQE/robottelo.git
            branches:
                - '{scm-branch}'
            skip-tag: true
    wrappers:
        - satellite6-automation-wrappers
        - inject:
            properties-content: |
                DISTRIBUTION={distribution}
                ENDPOINT=api
    builders:
        - satellite6-automation-builders
        - satellite6-automation-profiling-builder
        - trigger-builds:
            - project: 'satellite6-automation-{distribution}-{os}-cli'
              current-parameters: true
    publishers:
        - satellite6-automation-publishers

- job-template:
    name: 'satellite6-automation-{distribution}-{os}-cli'
    parameters:
        - satellite6-automation-parameters
    scm:
        - git:
            url: https://github.com/SatelliteQE/robottelo.git
            branches:
                - '{scm-branch}'
            skip-tag: true
    wrappers:
        - satellite6-automation-wrappers
        - inject:
            properties-content: |
                DISTRIBUTION={distribution}
                ENDPOINT=cli
    builders:
        - satellite6-automation-builders
        - satellite6-automation-profiling-builder
        - trigger-builds:
            - project: 'satellite6-automation-{distribution}-{os}-ui'
              current-parameters: true
    publishers:
        - satellite6-automation-publishers

- job-template:
    name: 'satellite6-automation-{distribution}-{os}-ui'
    parameters:
        - satellite6-automation-parameters
    scm:
        - git:
            url: https://github.com/SatelliteQE/robottelo.git
            branches:
                - '{scm-branch}'
            skip-tag: true
    wrappers:
        - satellite6-automation-wrappers
        - inject:
            properties-content: |
                DISTRIBUTION={distribution}
                ENDPOINT=ui
    builders:
        - satellite6-automation-builders
        - satellite6-automation-profiling-builder
        - conditional-step:
            condition-kind: regex-match
            regex: (cdn|downstream)
            label: ${{ENV,var="DISTRIBUTION"}}
            steps:
                - trigger-builds:
                    - project: 'satellite6-automation-{distribution}-{os}-rhai'
                      current-parameters: true
    publishers:
        - satellite6-automation-publishers

- job-template:
    name: 'satellite6-automation-{distribution}-{os}-rhai'
    parameters:
        - satellite6-automation-parameters
    scm:
        - git:
            url: https://github.com/SatelliteQE/robottelo.git
            branches:
                - '{scm-branch}'
            skip-tag: true
    wrappers:
        - satellite6-automation-wrappers
        - inject:
            properties-content: |
                DISTRIBUTION={distribution}
                ENDPOINT=rhai
    builders:
        - satellite6-automation-builders
        - trigger-builds:
            - project: 'satellite6-automation-{distribution}-{os}-longrun'
              current-parameters: true
    publishers:
        - satellite6-automation-publishers

- job-template:
    name: 'satellite6-automation-{distribution}-{os}-longrun'
    parameters:
        - satellite6-automation-parameters
    scm:
        - git:
            url: https://github.com/SatelliteQE/robottelo.git
            branches:
                - '{scm-branch}'
            skip-tag: true
    wrappers:
        - satellite6-automation-wrappers
        - inject:
            properties-content: |
                DISTRIBUTION={distribution}
                ENDPOINT=longrun
    builders:
        - satellite6-automation-builders
        - satellite6-automation-profiling-builder
    publishers:
        - satellite6-automation-publishers

#==============================================================================
# Project
#==============================================================================
- project:
    name: satellite6-automation
    node: sesame
    scm-branch: origin/master
    distribution:
        - cdn
        - downstream
        - zstream:
            scm-branch: origin/satellite-6.0.z.1
        - iso
        - upstream
    os:
        - rhel6
        - rhel7
    jobs:
        - 'satellite6-provisioning-{distribution}-{os}'
        - 'satellite6-smoke-{distribution}-{os}'
        - 'satellite6-automation-{distribution}-{os}-api'
        - 'satellite6-automation-{distribution}-{os}-cli'
        - 'satellite6-automation-{distribution}-{os}-ui'
        - 'satellite6-automation-{distribution}-{os}-rhai'
        - 'satellite6-automation-{distribution}-{os}-longrun'

#==============================================================================
# Jobs
#==============================================================================
- job:
    name: satellite6-downstream-trigger
    description: Triggers downstream automation for Satellite 6
    parameters:
        - string:
            name: RHEL6_OS_URL
            description: |
                Leave it blank to install the latest stable.
        - string:
            name: RHEL6_OS_CAPSULE_URL
            description: |
                Leave it blank to install the latest stable. Example: http://example.com/path/to/Satellite/Satellite-6.1.0-RHEL-6-20150311.1/compose/Capsule/x86_64/os
        - string:
            name: RHEL6_OS_TOOLS_URL
            description: |
                Leave it blank to install the latest stable. Example: http://example.com/path/to/Satellite/Satellite-6.1.0-RHEL-6-20150311.1/compose/sattools/x86_64/os
        - string:
            name: RHEL7_OS_URL
            description: |
                Leave it blank to install the latest stable.
        - string:
            name: RHEL7_OS_CAPSULE_URL
            description: |
                Leave it blank to install the latest stable. Example: http://example.com/path/to/Satellite/Satellite-6.1.0-RHEL-7-20150311.1/compose/Capsule/x86_64/os
        - string:
            name: RHEL7_OS_TOOLS_URL
            description: |
                Leave it blank to install the latest stable. Example: http://example.com/path/to/Satellite/Satellite-6.1.0-RHEL-7-20150311.1/compose/sattools/x86_64/os
        - choice:
            name: SELINUX_MODE
            choices:
                - 'enforcing'
                - 'permissive'
        - string:
            name: BUILD_LABEL
    wrappers:
        - config-file-provider:
            files:
                - file-id: org.jenkinsci.plugins.configfiles.custom.CustomConfig1430942714372
                  variable: SATELLITE6_REPOS_URLS
    builders:
        - shell: |
            source ${SATELLITE6_REPOS_URLS}
            echo "RHEL6_OS_URL=${RHEL6_OS_URL:-${SATELLITE6_RHEL6_OS}}" > properties.txt
            echo "RHEL6_OS_CAPSULE_URL=${RHEL6_OS_CAPSULE_URL:-${CAPSULE_RHEL6_OS}}" >> properties.txt
            echo "RHEL6_OS_TOOLS_URL=${RHEL6_OS_TOOLS_URL:-${TOOLS_RHEL6_OS}}" >> properties.txt
            echo "RHEL7_OS_URL=${RHEL7_OS_URL:-${SATELLITE6_RHEL7_OS}}" >> properties.txt
            echo "RHEL7_OS_CAPSULE_URL=${RHEL7_OS_CAPSULE_URL:-${CAPSULE_RHEL7_OS}}" >> properties.txt
            echo "RHEL7_OS_TOOLS_URL=${RHEL7_OS_TOOLS_URL:-${TOOLS_RHEL7_OS}}" >> properties.txt
        - inject:
            properties-file: properties.txt
        - trigger-builds:
            - project: satellite6-provisioning-downstream-rhel6
              predefined-parameters: |
                BASE_URL=${RHEL6_OS_URL}
                CAPSULE_URL=${RHEL6_OS_CAPSULE_URL}
                TOOLS_URL=${RHEL6_OS_TOOLS_URL}
                SELINUX_MODE=${SELINUX_MODE}
                BUILD_LABEL=${BUILD_LABEL}
        - trigger-builds:
            - project: satellite6-provisioning-downstream-rhel7
              predefined-parameters: |
                BASE_URL=${RHEL7_OS_URL}
                CAPSULE_URL=${RHEL7_OS_CAPSULE_URL}
                TOOLS_URL=${RHEL7_OS_TOOLS_URL}
                SELINUX_MODE=${SELINUX_MODE}
                BUILD_LABEL=${BUILD_LABEL}

- job:
    name: satellite6-iso-trigger
    description: Triggers ISO automation for Satellite 6
    parameters:
        - string:
            name: RHEL6_ISO_URL
            description: |
                Leave it blank to install the latest stable.
        - string:
            name: RHEL6_ISO_CAPSULE_URL
            description: |
                Leave it blank to install the latest stable. Example: http://example.com/path/to/Satellite/Satellite-6.1.0-RHEL-6-20150311.1/compose/Capsule/x86_64/iso
        - string:
            name: RHEL6_ISO_TOOLS_URL
            description: |
                Leave it blank to install the latest stable. Example: http://example.com/path/to/Satellite/Satellite-6.1.0-RHEL-6-20150311.1/compose/sattools/x86_64/iso
        - string:
            name: RHEL7_ISO_URL
            description: |
                Leave it blank to install the latest stable.
        - string:
            name: RHEL7_ISO_CAPSULE_URL
            description: |
                Leave it blank to install the latest stable. Example: http://example.com/path/to/Satellite/Satellite-6.1.0-RHEL-7-20150311.1/compose/Capsule/x86_64/iso
        - string:
            name: RHEL7_ISO_TOOLS_URL
            description: |
                Leave it blank to install the latest stable. Example: http://example.com/path/to/Satellite/Satellite-6.1.0-RHEL-7-20150311.1/compose/sattools/x86_64/iso
        - choice:
            name: SELINUX_MODE
            choices:
                - 'enforcing'
                - 'permissive'
        - bool:
            name: CHECK_GPG_SIGNATURES
            default: false
            description: |
                Check packages' GPG signatures when installing from ISO.
        - string:
            name: BUILD_LABEL
    wrappers:
        - config-file-provider:
            files:
                - file-id: org.jenkinsci.plugins.configfiles.custom.CustomConfig1430942714372
                  variable: SATELLITE6_REPOS_URLS
    builders:
        - shell: |
            source ${SATELLITE6_REPOS_URLS}
            echo "RHEL6_ISO_URL=${RHEL6_ISO_URL:-${SATELLITE6_RHEL6_ISO}}" > properties.txt
            echo "RHEL6_ISO_CAPSULE_URL=${RHEL6_ISO_CAPSULE_URL:-${CAPSULE_RHEL6_ISO}}" >> properties.txt
            echo "RHEL6_ISO_TOOLS_URL=${RHEL6_ISO_TOOLS_URL:-${TOOLS_RHEL6_ISO}}" >> properties.txt
            echo "RHEL7_ISO_URL=${RHEL7_ISO_URL:-${SATELLITE6_RHEL7_ISO}}" >> properties.txt
            echo "RHEL7_ISO_CAPSULE_URL=${RHEL7_ISO_CAPSULE_URL:-${CAPSULE_RHEL7_ISO}}" >> properties.txt
            echo "RHEL7_ISO_TOOLS_URL=${RHEL7_ISO_TOOLS_URL:-${TOOLS_RHEL7_ISO}}" >> properties.txt
        - inject:
            properties-file: properties.txt
        - trigger-builds:
            - project: satellite6-provisioning-iso-rhel6
              predefined-parameters: |
                BASE_URL=${RHEL6_ISO_URL}
                CAPSULE_URL=${RHEL6_ISO_CAPSULE_URL}
                TOOLS_URL=${RHEL6_ISO_TOOLS_URL}
                SELINUX_MODE=${SELINUX_MODE}
                CHECK_GPG_SIGNATURES=${CHECK_GPG_SIGNATURES}
                BUILD_LABEL=${BUILD_LABEL}
        - trigger-builds:
            - project: satellite6-provisioning-iso-rhel7
              predefined-parameters: |
                BASE_URL=${RHEL7_ISO_URL}
                CAPSULE_URL=${RHEL7_ISO_CAPSULE_URL}
                TOOLS_URL=${RHEL7_ISO_TOOLS_URL}
                SELINUX_MODE=${SELINUX_MODE}
                CHECK_GPG_SIGNATURES=${CHECK_GPG_SIGNATURES}
                BUILD_LABEL=${BUILD_LABEL}

- job:
    name: satellite6-upstream-trigger
    description: Triggers automation for Satellite 6 upstream
    triggers:
        - timed: 'H 19 * * *'
    builders:
        - trigger-builds:
            - project: |
                satellite6-provisioning-upstream-rhel6,
                satellite6-provisioning-upstream-rhel7,
